<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony</title>
    <link rel="stylesheet" href="../public/addProduct.css">
</head>
<body>
    <h1 class="title">Enter the title</h1>
    
    <form method="POST" action="/cart" class="form"><input type="text" name="title" placeholder="eg. Shirt" class="input" autofocus>
    <button class="submit" type="submit" onclick="location.href='/cart'">Add</button></form>
    
</body>
</html>