doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Harmony
        link(rel="stylesheet", href="../public/cart.css")
    body 
        if prods.length > 0
            .grid
                each product in prods 
                    .product 
                        h1.title #{product.title}
                        img(src="../assets/images/cart.jpg", alt="image").image
                        p.cost 19.9
                        a(href=`/products/${product.id}`).productLink view
        else 
            h1.empty Cart is empty 

        .add 
            a.addProduct(href="/addProduct") Add products