<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony</title>
    <link rel="stylesheet" href="../public/homepage.css">
</head>
<body>
    <header class="hero">
        <nav class="navigation">
            <ul class="nav-main">
                <a href="/cart" class="nav-child">Cart</a>
                <a href="/addProduct" class="nav-child">Add product</a>
            </ul>
        </nav>
        <div class="underline"></div>
        <h1 class="title">Harmony</h1>

        <img src="../assets/images/heroSection.jpg" alt="" class="heroSectionImage">
        <h2 class="desc">An Indian Thrift Shop</h2>
        
    </header>

    <main class="main">
        
    </main>
</body>
</html>