:root{
    font-family: Arial, Helvetica, sans-serif;
    
}

.image{
    height: 100px;
    width:60px
}

.title{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform:capitalize;
}
.cost{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.grid{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.productBody{
    border: 0.5px solid black;
    width: 80px;
    height: 170px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom:0px;
}

.addProduct{
    outline: none;
    cursor: pointer;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 16px;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
    font-size:12px
    
}

.add{
    display:flex;
    justify-content: center;
    
}
.empty{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

.productLink{
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 4px;
}

#form{
    height: 16px;
}

.wishlistButton{
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    cursor: pointer;
    border:none;
    



}
#deleteLink{
    text-decoration: none;
    color:black;
    font-size: 11px;
}



#delete{
    margin-bottom:5px;
    border:0.5px solid black;
    padding:5px;
    text-align: center;
    z-index: 9999;
    
    cursor: pointer;
}

#deleteButton{
    outline: none;
    background-color: white;
    border:0 ;
    cursor: pointer;
    
    font-size:11px;
    width:60px;
    margin:0
}